<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

  <extension-point 
      id="adapterfactory"
      name="AdapterFactory"
      schema="schema/adapterfactory.exsd"/>
  <extension-point 
      id="phaselistener"
      name="PhaseListener"
      schema="schema/phaselistener.exsd"/>
  <extension-point 
      id="entrypoint"
      name="EntryPoint" 
      schema="schema/entrypoint.exsd"/>
  <extension-point
      id="org.eclipse.ui.perspectives"
      name="perspectives"
      schema="schema/perspectives.exsd"/>
  <extension-point
      id="org.eclipse.ui.views"
      name="views"
      schema="schema/views.exsd"/>
  <extension-point 
      id="resources" 
      name="Resources" 
      schema="schema/resources.exsd"/>
  <extension-point 
      id="org.eclipse.ui.viewActions" 
      name="viewActions"
      schema="schema/viewAction.exsd"/>
  <extension-point
  	  id="org.eclipse.ui.handlers"
  	  name="Handlers"
  	  schema="schema/handlers.exsd"/>
  <extension-point
  	  id="org.eclipse.ui.commands"
  	  name="Commands"
  	  schema="schema/commands.exsd"/>
  <extension-point
      id="org.eclipse.ui.perspectiveExtensions"
  	  name="perspectiveExtensions"
  	  schema="schema/perspectiveExtensions.exsd"/>
  <extension-point
  	  id="org.eclipse.ui.actionSets"
  	  name="actionSets"
  	  schema="schema/actionSets.exsd"/>
  <extension-point
  	  id="org.eclipse.ui.actionSetPartAssociations"
  	  name="actionSetPartAssociations"
  	  schema="schema/actionSetPartAssociations.exsd"/>  	  
  <extension-point
      id="org.eclipse.rap.swt.themes"
      name="SWTThemes"
      schema="schema/swtThemes.exsd"/>
  
  <extension
      id="org.eclipse.ui.requestHandler"
      point="org.eclipse.equinox.http.registry.servlets">
    <servlet
        alias="/rap"
        class="org.eclipse.ui.internal.servlet.RequestHandler">
    </servlet>
  </extension>

  <extension
      id="org.eclipseui.workbench.adapterfactories"
      point="org.eclipse.rap.ui.workbench.adapterfactory">
    <factory
        factoryClass="org.eclipse.swt.internal.lifecycle.LifeCycleAdapterFactory"
        adaptableClass="org.eclipse.swt.widgets.Widget"/>
    <factory
        factoryClass="org.eclipse.swt.internal.lifecycle.LifeCycleAdapterFactory"
        adaptableClass="org.eclipse.swt.widgets.Display"/>
    <factory
        factoryClass="org.eclipse.swt.internal.widgets.WidgetAdapterFactory"
        adaptableClass="org.eclipse.swt.widgets.Widget"/>
    <factory
        factoryClass="org.eclipse.swt.internal.widgets.WidgetAdapterFactory"
        adaptableClass="org.eclipse.swt.widgets.Display"/>
  </extension>

  <extension
        id="org.eclipse.ui.workbench.preserveWidgetValues"
        point="org.eclipse.rap.ui.workbench.phaselistener">
     <listener class="org.eclipse.swt.internal.lifecycle.PreserveWidgetsPhaseListener"/>
  </extension>

  <extension
        id="org.eclipse.ui.workbench.currentPhase"
        point="org.eclipse.rap.ui.workbench.phaselistener">
     <listener class="org.eclipse.swt.internal.lifecycle.CurrentPhase$Listener"/>
  </extension>
  
  <extension
        point="org.eclipse.ui.handlers">
	<handler
            class="org.eclipse.ui.handlers.ShowViewHandler"
            commandId="org.eclipse.ui.window.showViewMenu">
         <enabledWhen>
            <with
                  variable="activePart">
               <instanceof
                     value="org.eclipse.ui.IViewPart">
               </instanceof>
            </with>
         </enabledWhen>
      </handler>
  </extension>
  
  <extension
  		point="org.eclipse.ui.commands">
      <command
      		name="Show View"
      		description="Shows a particular view"
      		categoryId="org.eclipse.ui.category.views"
      		id="org.eclipse.ui.views.showView"
      		defaultHandler="org.eclipse.ui.handlers.ShowViewHandler">
      		<commandParameter
      			id="org.eclipse.ui.views.showView.viewId"
      			name="View"
      			values="org.eclipse.ui.internal.registry.ViewParameterValues" />
      </command>
  </extension>
</plugin>
