<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

  <extension
      id="org.eclipse.ui.requestHandler"
      point="org.eclipse.equinox.http.registry.servlets">
    <servlet
        alias="/rap"
        class="org.eclipse.ui.internal.servlet.RequestHandler">
    </servlet>
  </extension>

  <extension
      id="org.eclipse.ui.workbench.adapterfactories"
      point="org.eclipse.rap.ui.adapterfactory">
    <factory
        factoryClass="org.eclipse.swt.internal.lifecycle.LifeCycleAdapterFactory"
        adaptableClass="org.eclipse.swt.widgets.Widget"/>
    <factory
        factoryClass="org.eclipse.swt.internal.lifecycle.LifeCycleAdapterFactory"
        adaptableClass="org.eclipse.swt.widgets.Display"/>
    <factory
        factoryClass="org.eclipse.swt.internal.widgets.WidgetAdapterFactory"
        adaptableClass="org.eclipse.swt.widgets.Widget"/>
    <factory
        factoryClass="org.eclipse.swt.internal.widgets.WidgetAdapterFactory"
        adaptableClass="org.eclipse.swt.widgets.Display"/>
  </extension>

  <extension
        id="org.eclipse.ui.workbench.preserveWidgetValues"
        point="org.eclipse.rap.ui.phaselistener">
     <listener class="org.eclipse.swt.internal.lifecycle.PreserveWidgetsPhaseListener"/>
  </extension>

  <extension
        id="org.eclipse.ui.workbench.currentPhase"
        point="org.eclipse.rap.ui.phaselistener">
     <listener class="org.eclipse.swt.internal.lifecycle.CurrentPhase$Listener"/>
  </extension>
  
  
</plugin>
