/* StyledText default theme */

StyledText {  
  color: black;
  background-color: rgb( 255, 255, 255 );
  font: 11px 'Segoe UI', Corbel, Calibri, Tahoma, 'Lucida Sans Unicode', sans-serif;
  padding: 2px 3px;
  border: none;
}

StyledText[BORDER] {
  border: 2px inset;
}