<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            class="org.eclipse.rap.rwt.visualization.google.demo.Application"
            parameter="demo"
            id="org.eclipse.rap.rwt.visualization.google.demo.Application">
      </entrypoint>
   </extension>
   <extension
         point="org.eclipse.rap.ui.branding">
      <branding
            defaultEntrypointId="org.eclipse.rap.rwt.visualization.google.demo.Application"
            id="org.eclipse.rap.rwt.visualization.google.demo.branding"
            servletName="googlevis"
            title="RWT Google Visualizations">
      </branding>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.rap.rwt.visualization.google.demo.PerspectiveFactory"
            id="org.eclipse.rap.rwt.visualization.google.demo.PerspectiveFactory"
            name="Google Visualizations">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.rap.rwt.visualization.google.demo.Application$MotionExample"
            id="org.eclipse.rap.rwt.visualization.google.demo.Application$MotionExample"
            name="Motion Chart"
            restorable="true">
      </view>
      <view
            class="org.eclipse.rap.rwt.visualization.google.demo.Application$TimelineExample"
            id="org.eclipse.rap.rwt.visualization.google.demo.Application$TimelineExample"
            name="Annotated Timeline"
            restorable="true">
      </view>
      <view
            class="org.eclipse.rap.rwt.visualization.google.demo.Application$AreaChartExample"
            id="org.eclipse.rap.rwt.visualization.google.demo.Application$AreaChartExample"
            name="Area Chart"
            restorable="true">
      </view>
      <view
            class="org.eclipse.rap.rwt.visualization.google.demo.Application$BarChartExample"
            id="org.eclipse.rap.rwt.visualization.google.demo.Application$BarChartExample"
            name="Bar Chart"
            restorable="true">
      </view>
      <view
            class="org.eclipse.rap.rwt.visualization.google.demo.Application$ColumnChartExample"
            id="org.eclipse.rap.rwt.visualization.google.demo.Application$ColumnChartExample"
            name="Column Chart"
            restorable="true">
      </view>
      <view
            class="org.eclipse.rap.rwt.visualization.google.demo.Application$GaugeExample"
            id="org.eclipse.rap.rwt.visualization.google.demo.Application$GaugeExample"
            name="Gauge"
            restorable="true">
      </view>
      <view
            class="org.eclipse.rap.rwt.visualization.google.demo.Application$GeomapExample"
            id="org.eclipse.rap.rwt.visualization.google.demo.Application$GeomapExample"
            name="Geomap"
            restorable="true">
      </view>
      <view
            class="org.eclipse.rap.rwt.visualization.google.demo.Application$IntensityMapExample"
            id="org.eclipse.rap.rwt.visualization.google.demo.Application$IntensityMapExample"
            name="Intensity Map"
            restorable="true">
      </view>
      <view
            class="org.eclipse.rap.rwt.visualization.google.demo.Application$LineChartExample"
            id="org.eclipse.rap.rwt.visualization.google.demo.Application$LineChartExample"
            name="Line Chart"
            restorable="true">
      </view>
      <view
            class="org.eclipse.rap.rwt.visualization.google.demo.Application$PieChartExample"
            id="org.eclipse.rap.rwt.visualization.google.demo.Application$PieChartExample"
            name="Pie Chart"
            restorable="true">
      </view>
      <view
            class="org.eclipse.rap.rwt.visualization.google.demo.Application$ScatterChartExample"
            id="org.eclipse.rap.rwt.visualization.google.demo.Application$ScatterChartExample"
            name="Scatter Chart"
            restorable="true">
      </view>
      <view
            class="org.eclipse.rap.rwt.visualization.google.demo.Application$TableExample"
            id="org.eclipse.rap.rwt.visualization.google.demo.Application$TableExample"
            name="Table"
            restorable="true">
      </view>      
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.rap.rwt.visualization.google.demo.PerspectiveFactory">
         <view
               id="org.eclipse.rap.rwt.visualization.google.demo.Application$MotionExample"
               minimized="false"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="org.eclipse.rap.rwt.visualization.google.demo.Application$TimelineExample"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.rap.rwt.visualization.google.demo.Application$MotionExample"
               visible="true">
         </view>
         <view
               id="org.eclipse.rap.rwt.visualization.google.demo.Application$AreaChartExample"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.rap.rwt.visualization.google.demo.Application$MotionExample"
               visible="true">
         </view>
         <view
               id="org.eclipse.rap.rwt.visualization.google.demo.Application$BarChartExample"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.rap.rwt.visualization.google.demo.Application$MotionExample"
               visible="true">
         </view>
         <view
               id="org.eclipse.rap.rwt.visualization.google.demo.Application$ColumnChartExample"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.rap.rwt.visualization.google.demo.Application$MotionExample"
               visible="true">
         </view>
         <view
               id="org.eclipse.rap.rwt.visualization.google.demo.Application$GaugeExample"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.rap.rwt.visualization.google.demo.Application$MotionExample"
               visible="true">
         </view>
         <view
               id="org.eclipse.rap.rwt.visualization.google.demo.Application$GeomapExample"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.rap.rwt.visualization.google.demo.Application$MotionExample"
               visible="true">
         </view>
         <view
               id="org.eclipse.rap.rwt.visualization.google.demo.Application$IntensityMapExample"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.rap.rwt.visualization.google.demo.Application$MotionExample"
               visible="true">
         </view>
         <view
               id="org.eclipse.rap.rwt.visualization.google.demo.Application$LineChartExample"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.rap.rwt.visualization.google.demo.Application$MotionExample"
               visible="true">
         </view>
         <view
               id="org.eclipse.rap.rwt.visualization.google.demo.Application$PieChartExample"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.rap.rwt.visualization.google.demo.Application$MotionExample"
               visible="true">
         </view>
         <view
               id="org.eclipse.rap.rwt.visualization.google.demo.Application$ScatterChartExample"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.rap.rwt.visualization.google.demo.Application$MotionExample"
               visible="true">
         </view>
         <view
               id="org.eclipse.rap.rwt.visualization.google.demo.Application$TableExample"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.rap.rwt.visualization.google.demo.Application$MotionExample"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
</plugin>
