<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            class="org.eclipse.rap.rms.ui.internal.startup.RMS"
            id="org.eclipse.rap.rms.ui.internal.startup.RMS"
            parameter="rms">
      </entrypoint>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.rap.rms.ui.internal.startup.RMSPerspective"
            icon="icons/rms_persp.gif"
            id="org.eclipse.rap.rms.ui.internal.startup.RMSPerspective"
            name="%rms">
      </perspective>
      <perspective
            class="org.eclipse.rap.rms.ui.internal.startup.IntroPerspective"
            icon="icons/intro.gif"
            id="org.eclipse.rap.rms.ui.internal.startup.IntroPerspective"
            name="%intro">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.rap.rms.ui.RMS"
            class="org.eclipse.rap.rms.ui.internal.views.Navigator"
            icon="icons/rms_persp.gif"
            id="org.eclipse.rap.rms.ui.internal.views.Navigator"
            name="%navigator">
      </view>
      <view
            category="org.eclipse.rap.rms.ui.RMS"
            class="org.eclipse.rap.rms.ui.internal.views.Intro"
            icon="icons/intro.gif"
            id="org.eclipse.ui.views.Intro"
            name="%intro">
      </view>
      <category
            id="org.eclipse.rap.rms.ui.RMS"
            name="%rms">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.rap.rms.ui.internal.editors.EntityEditor"
            contributorClass="org.eclipse.rap.rms.ui.internal.editors.EntityEditorContributor"
            extensions="mpe"
            icon="icons/rms_persp.gif"
            id="org.eclipse.rap.rms.ui.internal.editors.EntityEditor"
            name="Entity Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.rap.rms.data.IEntity"
            class="org.eclipse.rap.rms.ui.internal.datamodel.EntityAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
         <adapter
               type="org.eclipse.rap.rms.ui.internal.datamodel.ILock">
         </adapter>
      </factory>
   </extension>
     <extension
      point="org.eclipse.equinox.http.registry.resources">
    <resource
        alias="/help"
        base-name="/help"/>
  </extension>
     <extension
           point="org.eclipse.rap.ui.themes">
        <theme
              file="theme/rms.css"
              id="org.eclipse.rap.rms.ui.RMSTheme"
              name="RMS Theme">
        </theme>
     </extension>
     <extension
           point="org.eclipse.rap.ui.branding">
        <branding
              defaultEntrypointId="org.eclipse.rap.rms.ui.internal.startup.RMS"
              id="org.eclipse.rap.rms.ui.RMS"
              servletName="rms"
              themeId="org.eclipse.rap.rms.ui.RMSTheme"
              title="RAP Workbench Demo">
        </branding>
     </extension>

</plugin>
